.backgroundImage {
    background-image: linear-gradient(#43434377, #454545aa),url('../../../public/imgs/background_usermainpage_image.jpeg');
    background-position: center;
    background-size: cover;
}

.repertoryThumbnail {
    background-image: linear-gradient(#43434377, #454545aa),url('../../../public/imgs/repertory_image.jpg');
    background-position: center;
    background-size: cover;
}

.repertoryThumbnail2 {
    background-image: linear-gradient(#43434328, #4545454f),url('../../../public/imgs/manteniance.jpg');
    background-position: center;
    background-size: cover;
}

.post:hover {
    cursor: pointer;
}
