.hoverListItem {
    background-color: white;
    
}


.hoverListItem:hover {
    cursor: pointer;
    background: #F2F2F2;
}

.songDetailsBarSizing {
    width: 50%;
    overflow: scroll;
    overflow-x: hidden;
}

.songDetailsBarSizing::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    overflow-x: hidden;
}

.songDetailsBarSizing::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: transparent;
    
}

.songDetailsBarSizing::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    background-color: #C1C1C199;
}

@media (max-width: 768px) {
    .songDetailsBarSizing {
        width: 100%;
    }
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: transparent;
    
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    background-color: #C1C1C199;
}