.backgroundModal {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    box-sizing: border-box;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 5;
}