.songDetailsBar {
    width: 35%;
    height: 100%;
    background: #957964;
    box-sizing: border-box;
    padding: 2rem;
    color: white;
}

.video {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}